<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Marias System</title>
    <link rel="stylesheet" href="../css/credential.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
  <hr id="pinkLine">
  <center>

  <div>
      {{{body}}}
  </div>

  </center>
  <footer>
    <hr id="goldenLine">
    <div>&copy 2021 - 2022 Tres Marias Inventory System created by GRADU8. All Rights Reserved.</div>
  </footer>
</body>
</html>