/*
Light Pink     = #FFDEDE
Pink           = #DCADAD
Dark Pink      = #d1a6a6
Gold Line = background: linear-gradient(90deg, rgba(233,197,0,1) 0%, rgba(170,133,57,1) 100%);
*/
html{
    overflow-x:hidden;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #FFE0E0;
    text-align      : center;
    margin          : 0;
    padding         : 0;
}
#pinkLine{
    background      : #E4A6A6;
    height          : 50px;
    width           : 100%;
    border          : none;
    margin          : -1px;
}
.formLogo{
    width           : 160px;
    height          : auto;
}
.errorMsg{
    font-size       : 12px;
    color           : rgb(194, 14, 14);
    margin          : 10px;
}
.successMsg{
    font-size       : 12px;
    color           : rgb(40, 151, 40);
    margin          : 10px;
}
.backButton{
    position        :absolute;
    bottom          : 5px;
    left            : 5px;
}
.backButton img{
    width           : 12px;
    height          : auto;
}
.backButton button{
    font-size       : 15px;
    border          : none;
    border-radius   : 5px;
    padding         : 5px;
}
.backButton button:hover{
    background-color: lightgray;
}
.signinButton{
    width           : 200px;
    height          : 40px;
    background-color: #E4A6A6;
    border-radius   : 10px;
    border          : 0;
    margin-top      : 20px;
    color           : white;
    font-size       : 15px;
}
.signinButton:hover{
    background-color: #d1a6a6;
}
/* Footer */
footer{
    position: fixed;
    margin-top      : 10px;
    width           : 100%;
    bottom          : 0;
}
#goldenLine{
    background      : linear-gradient(90deg, rgba(233,197,0,1) 0%, rgba(170,133,57,1) 100%);
    height          : 10px;
    width           : 100%;
    margin-top      : 20px;
    margin-bottom   : 10px;
}

/* Below this are different pages */


/* Login Form */
.loginForm{
    width           : 465px;
    height          : 530px;
    padding         : 20px;
    background-color: white;
    border          : 3px solid black;
    margin-top      : 60px;
    margin-bottom   : 50px;
}
.inputLogging input{
    width           : 200px;
    height          : 35px;
    border          : 2px solid darkgrey;
    margin          : 8px;
    margin-right    : 44px;
}
.inputLogging img{
    width           : 35px;
    height          : 35px;
    vertical-align  : middle;
}
#signinLink{
    margin          : 30px;
}
#signinLink a{
    text-decoration : none;
    color           : #E4A6A6;
}


/* Register Form */
#registerLogo{
    margin          : 15px;
}
.registerForm{
    width           : 465px;
    height          : 570px;
    padding         : 20px;
    background-color: white;
    border          : 3px solid black;
    margin-bottom   : 50px;
    position        : relative;
}
.registerForm h2{
    background-color: #FFC9C9;
    position        : absolute;
    left            : 0;
    right           : 0;
    fill            : white;
    stroke          : black;
    stroke-width    : 1px;
    stroke-linejoin : round;
}
.registerForm p{
    margin-top      : 85px;
    color           : gray;
}
.registerForm a{
    text-decoration : none;
    color: gray;
    font-weight: bold;
}
.inputRegister{
    display         : inline-block;
    text-align      : left;
}
.label{
    display         : inline-block;
    margin-top      : 15px;
}
.label label{
    margin-left     : 10px;
}
.label input{
    width           : 180px;
    height          : 35px;
    margin-left     : 10px;
    margin-top      : 5px;
}

/* Forgot Form */
.forgotForm{
    width           : 465px;
    height          : 500px;
    padding         : 20px;
    background-color: white;
    border          : 3px solid black;
    margin-top      : 60px;
    margin-bottom   : 50px;
    position        : relative;
}
.inputLogging2 input{
    width           : 200px;
    height          : 35px;
    border          : 2px solid darkgrey;
    margin          : 8px;
}
/* Reset Form */
.resetForm{
    width           : 465px;
    height          : 500px;
    padding         : 20px;
    background-color: white;
    border          : 3px solid black;
    margin-top      : 60px;
    margin-bottom   : 50px;
    position        : relative;
}